.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 50px auto;
}

.containerTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px 0;
}

.TitleLeft {
  font-size: 25px;
  font-weight: bolder;
  text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.TitleRight {
  font-size: 15px;
  font-weight: 500;
  color: darkgreen;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(2, 141, 144), rgb(50, 176, 204)) border-box;
  border-radius: 50em;
  border: 2px solid transparent;
  background-color: #ffffff;
  padding: 10px;
}

.TitleRight:hover {
  color: white;
  border: 1px solid #000000;
}

.videoExample {
  display: flex;
  gap: 20px;
}

.videoContainer {
  display: flex;
  gap: 40px;
  margin: auto;
}
