.parallaxBox1 {
  display: flex;
  justify-content: center;
}

.parallax {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 240vh;
  z-index: -3;
}

.parallax img {
  position: relative;
  width: 200px;
  margin: auto;
  pointer-events: none;
  opacity: 0.2;
  z-index: -2;
}

#Brocco {
  position: absolute;
  top: 0;
  left: 0;
}

.Drug {
  position: absolute;
  top: 0;
  left: 0;
}

.Dumbel2 {
  position: absolute;
  top: 0;
  left: 0;
}

.ProteinShake {
  position: absolute;
  top: 0;
  left: 0;
}
