.container {
  /* display: flex;
  flex-direction: column; */
  width: 80%;
  margin: 50px auto;
}

.containerTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px 0;
}

.Title {
  font-size: 30px;
  font-weight: 500;
}

.CardTitle {
  font-size: 20px;
  font-weight: 500;
}

.Description {
  font-size: 20px;
}

.Tags {
  font-size: 15px;
  font-weight: 500;
}

.viewButton {
  font-size: 20px;
  font-weight: 500;
}

.TitleLeft {
  font-size: 20px;
  font-weight: 500;
}

.TitleRight {
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 10px;
}

.TitleRight:hover {
  color: #ffffff;
  border: 1px solid #000000;
  background-color: #000000;
}

.videoExample {
  display: flex;
  gap: 20px;
}

/* .videoContainer {
  display: flex;
  gap: 40px;
  margin: auto;
} */

.card {
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.BodyPartCardFont {
  font-size: 30px;
  font-weight: 500;
}

.BodyPartsTitle {
  font-size: 17px;
  font-weight: 500;
}

.TabPanel {
  background-color: #ffffff;
}
