@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.navMenu {
  position: relative;
}

.rectangle {
  position: absolute;
  margin-top: 2px;
  height: 5px;
  width: 100%;
  background-color: rgba(130, 222, 130, 0.8);
  border-radius: 2.5px;
}

.inActive .rectangle {
  visibility: hidden;
}
