.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

.image {
  height: 190px;
  object-fit: cover;
}

.title {
  font-size: 14px;
  font-weight: 500;
}

.image:hover {
  scale: 1.02;
}
